[submodule "ingenic-headers"]
	path = ingenic-headers
	url = https://github.com/gtxaspec/ingenic-headers.git
[submodule "sigmastar-headers"]
	path = sigmastar-headers
	url = https://github.com/johnchia/sigmastar-headers.git
